# --- Keil MDK Project Files ---
*.uvgui.*
*.uvguix.*
*.uvopt
*.uvoptx
*.bak
*.uv2.bak

# --- Build Outputs ---
Objects/
Listings/
DebugConfig/
RTE/
*.txt
*.dep
*.lst
*.m51
*.pbi
*.tmp
*.iex
*.htm
*.lnp
*.sct
*.map
*.axf
*.elf
*.hex
*.bin
*.crf
*.o
*.d

# --- VS Code Files ---
.vscode/

# --- Tool Specifics ---
.mxproject